.modal__wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 520px;
  z-index: 1000;
  overflow: auto;
  outline: 0;
  -webkit-overflow-scrolling: touch;
}
.modal__mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1000;
}
.modal__header {
  height: 54px;
  padding: 16px 24px;
  color: rgba(0, 0, 0, 0.65);
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}
.modal__title {
  margin: 0;
  font-weight: 500;
  line-height: 22px;
  font-size: 14px;
  word-wrap: break-word;
}
.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 54px;
  height: 54px;
  line-height: 54px;
  text-align: center;
}
.modal__close__x {
  width: 14px;
  height: 14px;
  background: url(../style/close.png) no-repeat;
  border: 0;
}
.modal__body {
  padding: 24px;
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.65);
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
}
.modal__footer {
  padding: 10px 16px;
  text-align: right;
  color: rgba(0, 0, 0, 0.65);
  background: #fff;
  border-radius: 0 0 2px 2px;
}
.modal__footer button + button {
  margin-left: 8px;
}
.modal__btn {
  display: inline-block;
  height: 30px;
  padding: 4px 15px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
}
.modal__btn--confirm {
  color: white;
  background-color: #1890ff;
  border-color: #1890ff;
}
