/* 以下是全局样式 */
*{
    margin:0;
    padding:0;
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
    border-radius: 5px;
}
html,body{
    width:100%;
    height:100%
}

/* 全局样式结束 */
/* 以下是导航栏样式 */
.nav-div{
    height:70px;
    background-color:#363636;
    text-align: center;
    vertical-align: middle;
    width:100%;
}
.nav-div::before{
    content:'';
    display:inline-block;
    vertical-align:middle;
    height:100%;
    }
.logo{
    color:pink;
    font: bold 28px/1 sans-serif;
    display: inline-block;
    vertical-align: middle;
}
.logo::before {
    content: "❤ ";
}
.add-task{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    color:white;
    background-color:#FF8C00;
    box-shadow: 2px 2px 5px #888;
}
.add-task:hover{
    cursor: pointer; 
    background-color:#FFA500;
 }

 /*点击下沉效果*/
.add-task:active{
    transform: translate(1%,1%);
}
.input-task{
    width: 350px;
    height: 20px;
    padding:5px;
    margin:5px;
    margin-left: 10%;
    margin-right: 20px;
}

/* 导航栏样式结束 */
/* 以下是主体内容样式 */
.main-div{
    width:50%;
    margin: 0 auto;
}
.task{
    padding: 20px 30px;
    margin-top: 20px;
    background-color:#FAEBD7;
}
.on-task{
    background-color:#FAEBD7;
}
.end-task{
    background-color:#A9A9A9;
}
.task-num{
    float:right;
    width: 26px;
    height: 26px;
    line-height: 26px;
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
    border-radius: 100%;
    color:white;
}
.on-task-num{
    background-color:#FF8C00;
    box-shadow: 2px 2px 5px #888;
}
.end-task-num{
    background-color: #696969;
    box-shadow: 2px 2px 5px #111;
}
.line{
    width: 100%;
    height: 1px;
    margin-top: 20px;
    background-color: #C0C0C0; 
    /* transform: scaleY(0.5); */
}
.new-line{
    width: 100%;
    height: 1px;
    background-color: #C0C0C0; 
    /* transform: scaleY(0.5); */
}
.del-button{
    position: absolute;
    top:50%;
    right: 0;
    width:26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50%;
    color:white;
    background-color:#FF8C00;
    box-shadow: 2px 2px 5px #888;
    transform: translateY(-50%);
}
.del-button:hover{
   cursor: pointer; 
   background-color:#FFA500;
}
.del-button:active{
    transform: translate(1%,-49%);
}
.end-task .del-button{
    background-color: #696969;
    box-shadow: 2px 2px 5px #111;
}

/* 新任务样式 */
.new-task{
    position:relative;
} 
.check{
    width: 16px;
    height: 16px;
    margin: 15px 8px 15px 0;
    vertical-align:middle;
}
.task-text{
    vertical-align:middle;
    line-height: 20px;
}

/* 新任务样式已结束 */
/* 以下是footer样式 */
footer p{
    margin-top: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #555666;
}