$bright-button-color: #ff8c00;
$bright-active-button-color: #ffa500;
$bright-background-color:#faebd7;
$grey-button-color: #696969;
$grey-active-button-color: #808080;

/* 以下是全局样式 */
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
html,
body {
    width: 100%;
    height: 100%;
}

/* 以下是导航栏样式 */
.nav {
    text-align:center;

    &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    &__logo {
        color: $bright-background-color;
        font: bold 28px/1 sans-serif;
        display: inline-block;
        vertical-align: middle;

        &::before {
            content: "❤ ";
        }
    }

    &__input {
        display: inline-block;
        width:350px;
        margin-left: 8%;

        .ant-input-group-wrapper{
            vertical-align: middle;
        }

        // .ant-btn-primary{
        //     border-color: $bright-button-color;
        //     background-color: $bright-active-button-color;
        // }
    }

    &__add-btn {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        border-radius: 5px;
        color: white;
        background-color: $bright-button-color;
        box-shadow: 2px 2px 5px #888;

        &:hover {
            cursor: pointer;
            background-color: $bright-active-button-color;
        }

        &:active {
            transform: translate(1%, 1%); /*点击下沉效果*/
        }
    }
}

/* 以下是主体内容样式 */
.btn {
    width: 26px;
    height: 26px;
    line-height: 26px;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    color: white;

    &__num {
        float: right;
        font-size: 13px;
        font-weight: bold;
    }

    &__del {
        position: absolute;
        top: 50%;
        right: 0;
        font-size: 10px;
        transform: translateY(-50%);
    }
}

.item {
    &-container {
        position: relative;
        margin: 10px auto;

        .ant-divider{
            margin: 10px auto;
            border-color:#C0C0C0;
        }

        .ant-checkbox-inner{
            border-color:$grey-active-button-color;
        }
    }

    &__check {
        vertical-align: middle;
    }

    &__text{
        margin-left: 8px;
        vertical-align: middle;
    }
}

.task {
    &-container {
        width: 50%;
        margin: 35px auto;
        position: relative;
        
        .ant-collapse-content > .ant-collapse-content-box {
            padding-top:0;
        }

        .ant-empty-image{
            margin:20px;
        }

        .ant-statistic{
            line-height: .5715;
        }
    }

    &--todo {
        background-color: $bright-background-color;

    }

    &--done {
        background-color: #a9a9a9;

        .ant-checkbox-checked .ant-checkbox-inner{
            background-color: $grey-active-button-color;
            border-color:$grey-active-button-color;
        }
    }
}

/* 以下是footer样式 */
footer {
    p {
        margin-top: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 14px;
        color: #555666;
    }
}
