@charset "UTF-8";
/* 以下是全局样式 */
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* 以下是导航栏样式 */
.nav {
  text-align: center;
}
.nav::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.nav__logo {
  color: white;
  font: bold 28px/1 sans-serif;
  display: inline-block;
  vertical-align: middle;
}
.nav__logo::before {
  content: "❤ ";
}
.nav__input {
  display: inline-block;
  width: 400px;
  margin-left: 8%;
}
.nav__input .ant-input-group-wrapper {
  vertical-align: middle;
}
.nav__add-btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  background-color: #ff8c00;
  box-shadow: 2px 2px 5px #888;
}
.nav__add-btn:hover {
  cursor: pointer;
  background-color: #ffa500;
}
.nav__add-btn:active {
  transform: translate(1%, 1%);
  /*点击下沉效果*/
}

/* 以下是主体内容样式 */
.btn {
  width: 26px;
  height: 26px;
  line-height: 26px;
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
  color: white;
}
.btn__num {
  float: right;
  font-size: 13px;
  font-weight: bold;
}
.btn__del {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 10px;
  transform: translateY(-50%);
}
.btn__del:active {
  transform: translate(1%, -49%);
}

.item-container {
  position: relative;
}
.item__check {
  width: 16px;
  height: 16px;
  margin: 15px 8px 15px 0;
  vertical-align: middle;
}

.task-container {
  width: 50%;
  margin: 20px auto;
  position: relative;
}
.task-container .ant-collapse-content > .ant-collapse-content-box {
  padding-top: 0;
}
.task-container .ant-divider-horizontal {
  margin: 0;
}
.task__line {
  width: 100%;
  height: 1px;
  margin: 0;
  background-color: #c0c0c0;
}
.task__line--first {
  margin-top: 20px;
}
.task--todo {
  background-color: #faebd7;
}
.task--todo .btn__del {
  background-color: #ff8c00;
  box-shadow: 2px 2px 5px #888;
}
.task--todo .btn__del:hover {
  cursor: pointer;
  background-color: #ffa500;
}
.task--todo .btn__num {
  background-color: #ff8c00;
  box-shadow: 2px 2px 5px #888;
}
.task--done {
  background-color: #a9a9a9;
}
.task--done .btn__del {
  background-color: #696969;
  box-shadow: 2px 2px 5px #111;
}
.task--done .btn__del:hover {
  cursor: pointer;
  background-color: #808080;
}
.task--done .btn__num {
  background-color: #696969;
  box-shadow: 2px 2px 5px #111;
}

/* 以下是footer样式 */
footer p {
  margin-top: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: #555666;
}
